body{
    padding-top: 71px;
}

@media (max-width: 768px) {
    body {
        padding-top: 61px !important;
    }
}
@media (min-width: 769px) and (max-width: 987px) {
    body {
        padding-top: 181px !important;
    }
}

@media (min-width: 988px) and (max-width: 1198px) {
    body {
        padding-top: 121px !important;
    }
}

img.header {
    height:35px;
    width: auto;
}

pre.alignment {
    background: #FFF;
    border-style: solid;
}

.aln_aminoacid {
    display: table-cell;
    font-weight: bold;
    padding: 1px 2px;
    margin: 0px 0px;
    width: 7px;
}

.aln_conserv {
    display: table-cell;
    font-weight: bold;
    padding: 1px 2px;
    margin: 0px 0px;
    width: 7px;
}

.aln_number {
    display: table-cell;
    font-weight: bold;
    padding: 1px 2px;
    margin: 0px 0px;
    width: 7px;
}

.aln_aminoacid:hover {
    box-shadow: 0 0 0 2px red inset;
    transition-delay:200ms;
}

.aln_buff {
    display: table-cell;
    padding: 1px 2px;
    margin: 0px;
    width: 5px;
    font-weight: bold;
}

.aln_row {
    display: table-row;
}

.aln_id {
    display: table-cell;
    font-weight: normal;
    padding: 1px 2px;
    margin: 0px 0px;
    width: 100px;
}


.aln_block {
    display: table;
    margin: 10px;
    table-layout: fixed;
}

/* Small and hydrophobic*/
.A, .V, .F, .P, .M, .I, .L, .W  {
    background-color:  #80b3e6;
}

/* Hydroxyl and amine amino acids */
.S, .T, .N, .Q {
    background-color:  #1acc1a;
}

/* Charged */
.D, .E {
    background-color: #cc4dcc;
}

.R, .K {
    background-color: #e6331a;
}

/* Histidine and tyrosine */
.H, .Y {
    background-color: #1ab3b3;
}

.G {
    background-color: #e6994d;
}

.P {
    background-color: #cccc00;
}

.C {
    background-color: #80b3e6;
}


/* Progress bar modifications */
.progress.shiny-file-input-progress {
  visibility: hidden;
}
.progress.shiny-file-input-progress .progress-bar.bar-danger {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* Make sure the filename doesn't extend past the bounds of the container */
.shiny-input-container input[type=file] {
  overflow: hidden;
  max-width: 100%;
}

.shiny-progress-container {
  position: fixed;
  top: 0px;
  width: 100%;
  /* Make sure it draws above all Bootstrap components */
  z-index: 2000;
}

.shiny-progress .progress {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 10px;
  margin: 0px;
}

.shiny-progress .bar {
  opacity: 0.6;
  transition-duration: 250ms;
}

.shiny-progress .progress-text {
  position: absolute;
  right: 5px;
  height: 34px;
  width: 350px;
  background-color: #eef8ff;

  opacity: 0.85;
  border: solid 2px;
  border-radius: 5px;

  margin-top: -10px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 0px;

  padding: 2px 10px;
}

.shiny-progress .progress-text .progress-message {
  padding: 0px 10px;
  font-weight: bold;
  font-size: 120%;
}

.shiny-progress .progress-text .progress-detail {
    padding: 0px 10px;
    font-size: 100%;
}

/* table cell-spacing */
table {
    border-collapse: separate;
    border-spacing: 5px;
}

table tr td:empty {
    width: 50px;
}

table tr td {
    padding-right: 10px;
    padding-bottom: none;
}


/* shiny input error validation */
.shiny-output-error-validation {
    color: green;
}

div[class^="well"] {
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.5s;
       -moz-transition: border-color ease-in-out 0.5s;
        -ms-transition: border-color ease-in-out 0.5s;
         -o-transition: border-color ease-in-out 0.5s;
            transition: border-color ease-in-out 0.5s;
}

div[class^="well"].show-border {
    border-color: #66afe9;
    outline: 0;
}

div[id="alignment"] {
    border: 2px solid rgba(0,0,0,0.0) !important;
    border-radius: 5px !important;
    -webkit-transition: border-color ease-in-out 0.5s;
       -moz-transition: border-color ease-in-out 0.5s;
        -ms-transition: border-color ease-in-out 0.5s;
         -o-transition: border-color ease-in-out 0.5s;
            transition: border-color ease-in-out 0.5s;
}

div[id="alignment"].show-border {
    border-color: #66afe9 !important;
    outline: 0 !important;
}

p[class="caption"] {
    display: block;
    font-style: italic;
    text-align: center;
}

/* icon color */
.fa.fa-info-circle {
    color: rgb(169, 169, 169)
}

.row-header {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
    background-color: white;
}

.btn-copy {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.h3-title {
    display: inline-block;
}

.icon-modal {
    margin-left: 5px;
}

body.modal-open {
    padding-right: 0 !important;
}

#start-well-2 {
    background: #FFFFFF;
}

.well.affix{
	position:fixed;
    margin-right: 15px;
}

.btn-start {
   margin-top: 1%;
}

#navbarpage li a.disabled {
//  background-color: transparent !important;
//  //color: #333 !important;
  cursor: not-allowed !important;
//  //border-color: #aaa !important;
}
